{% extends 'base.html.twig' %}

{% block body %}
<div class="pt-16">
    <div class="bg-green-400 p-12 font-bold text-center">
        <p>You now landed on WSVGs !</p>
    </div>
</div>
{% endblock %}
